<!DOCTYPE html>
<div class="content-wrapper">
<div class="content px-2">
    <div class="container">
      <h1>Electronics and Communications Engineering (ECE)</h1>
        <div class="cards grid-row">
          <div class="card">
            <div class="card-top">
              <img src="assets/ece252.jpg" alt="java">
            </div>
            <div class="card-info">
              <h2>Electrical and Computer Engineering - ECE 252</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Electrical and Computer Engineering (ECE) is at the crossroads of hardware and software – the integration of these tools to create better, faster, safer technologies for things like cars, aircraft, computers, smartphones, or surgical robots.
              </p>
            </div>
            <div class="card-bottom flex-row">
              <a class="read-more">Cerification Link</a>
              <a href="hhttps://ece252.engr.wisc.edu/" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/Principles of Signals and Systems.jpg" alt="mysql">
            </div>
            <div class="card-info">
              <h2>Principles of Signals and Systems</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Various concepts such as convolution, impulse/ frequency response, causality, stability of systems will be especially emphasized. Other additional topics such as state space techniques and solutions to state space equations will also be covered. </p>
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="https://www.classcentral.com/classroom/youtube-ece-252-53359" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">

          </div>
          <div class="card">

          </div>
        </div>
      </div>
    </div>
    </div>
