<!DOCTYPE html>
<div class="content-wrapper">
<div class="content px-2">
    <div class="container">
      <h1>CSE(Cyber Security)</h1>
        <div class="cards grid-row">
          <div class="card">
            <div class="card-top">
              <img src="assets/cyber.jpg" alt="java">
            </div>
            <div class="card-info">
              <h2>Cyber Security</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cyber security refers to every aspect of protecting an organization and its employees and assets against cyber threats. As cyberattacks become more common and sophisticated and corporate networks grow more complex are required to mitigate corporate cyber risk.</p>
            </div>
            <div class="card-bottom flex-row">
              <a class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/introduction-to-cyber-security" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/ccna.png" alt="mysql">
            </div>
            <div class="card-info">
              <h2>CCNA</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">The CCNA—which stands for Cisco Certified Network Associate—is an entry-level information technology (IT) certification issued by networking hardware company Cisco. The CCNA is designed to validate your knowledge on fundamental networking concepts often requested in networking roles in IT positions. </p>
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwimhOW2pZr_AhWBgksFHW9WCscYABAAGgJzZg&ohost=www.google.com&cid=CAESa-D2o7w92SyH4_d5lHVQ14VsZ_LOwky1dyOWEIPDyH33miL-usLBz5XPBycKnLEv0CxQ8leCEU1nExavd7R65bmU1v9e52qW2v6_wkcvaM1EpNeM5pdX_wWCU74xlU_kOyI6VWyp3tiJP6w1&sig=AOD64_1-xs8ya7j4ublJ1rh1kj2E3KgHsA&q&adurl&ved=2ahUKEwjz7Nu2pZr_AhV31zgGHeSXCtYQ0Qx6BAgFEAE" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/php.png" alt="mysql">
            </div>
            <div class="card-info">
              <h2>Advance of PHP</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">PHP is a popular server-side scripting language used for developing dynamic web applications and websites.PHP is a popular server-side scripting language used for developing dynamic web applications and websites.PHP is used in conjunction with HTML to create dynamic web pages.</p>
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/php" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/nodejs.png" alt="nodejs">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Node.js is an open-source, server-side JavaScript runtime environment that allows developers to run JavaScript code outside of a web browser.Node.js is built on the Chrome V8 JavaScript engine, and it provides event-driven, non-blocking I/O capabilities scalable and high-performance web applications.</p>
            </div>
            <div class="card-bottom flex-row">
              <a     class="read-more">Cerification Link</a>
              <a href="#" class="button btn-yellow">Link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
