
<div class="wrapper">
   <!-- 
      <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__wobble" src="assets\studentlogo.png" alt="AdminLTELogo" height="60" width="60">
      </div> -->
      <!-- <nav class="navbar navbar-light" style="background-color: #000b13;">
         <!-- Navbar content -->
         <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav> -->
      
      <aside class="main-sidebar">
      
      <a href="index3.html" class="brand-link">
      <img src="assets\studentlogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">For@Student</span>
      </a>
      
      <div class="sidebar">
      
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      <img src="assets\studentlogo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
      <a href="#" class="d-block">Mr.Cryptic143</a>
      </div>
      </div>
      
      <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
      <button class="btn btn-sidebar">
      <i class="fas fa-search fa-fw"></i>
      </button>
      </div>
      </div>
      </div>
      
      <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      
      <li class="nav-item menu-open">
      
   <a  [routerLink]="['dashboard']" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>
      Dashboard
     
      </p>
      </a>
      
      </li>
      <li class="nav-item">
      <a  [routerLink]="['course']" class="nav-link">
      <i class="nav-icon fas fa-copy"></i>
      <p>
        Course
     </p>
     <i class="right fas fa-angle-left"></i>
   </a>
   <ul class="nav nav-treeview">
      <li class="nav-item">
      <a [routerLink]="['coursecsecy']" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>CSE(CY)</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/charts/flot.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>ECE</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/charts/inline.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>EEE</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/charts/uplot.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>IT</p>
      </a>
      </li>
      <li class="nav-item">
         <a href="pages/charts/inline.html" class="nav-link">
         <i class="far fa-circle nav-icon"></i>
         <p>MECH</p>
         </a>
         </li>
         <li class="nav-item">
            <a href="pages/charts/inline.html" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>CIVIL</p>
            </a>
            </li>
            <li class="nav-item">
               <a href="pages/charts/inline.html" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>AIDS</p>
               </a>
               </li>
      </ul>
      </li>
      <li class="nav-item">
      <a [routerLink]="['internship']" class="nav-link">
      <i class="nav-icon fas fa-chart-pie"></i>
      <p>
      Internship
      <i class="right fas fa-angle-left"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/charts/chartjs.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Software Engineering</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/charts/flot.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Data Analytics</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/charts/inline.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Coding Platform</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/charts/uplot.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>IOT</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
         <i class="nav-icon fas fa-edit"></i>
         <p>
         Test
         <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/UI/general.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>General Test</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/UI/icons.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Online Test</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/UI/buttons.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Class Test</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/UI/sliders.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>NPTEL</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/UI/modals.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Placement Test</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon fas fa-edit"></i>
      <p>
      Attendence
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/forms/general.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Class Attendence</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/forms/advanced.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Lab Attendence</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-header">EXAMPLES</li>
      <li class="nav-item">
      <a href="pages/calendar.html" class="nav-link">
      <i class="nav-icon fas fa-calendar-alt"></i>
      <p>
      Calendar
      <span class="badge badge-info right">2</span>
      </p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/gallery.html" class="nav-link">
      <i class="nav-icon far fa-image"></i>
      <p>
      Gallery
      </p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/kanban.html" class="nav-link">
      <i class="nav-icon fas fa-columns"></i>
      <p>
      Kanban Board
      </p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon far fa-envelope"></i>
      <p>
      Mailbox
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/mailbox/mailbox.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Inbox</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/mailbox/compose.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Compose</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/mailbox/read-mail.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Read</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon fas fa-book"></i>
      <p>
      Pages
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/examples/invoice.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Invoice</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/profile.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Profile</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/e-commerce.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>E-commerce</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/projects.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Projects</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/project-add.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Project Add</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/project-edit.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Project Edit</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/project-detail.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Project Detail</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/contacts.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Contacts</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/faq.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>FAQ</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/contact-us.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Contact us</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon far fa-plus-square"></i>
      <p>
      Extras
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>
      Login & Register v1
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
       <a href="pages/examples/login.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Login v1</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/register.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Register v1</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/forgot-password.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Forgot Password v1</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/recover-password.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Recover Password v1</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>
      Login & Register v2
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/examples/login-v2.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Login v2</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/register-v2.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Register v2</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/forgot-password-v2.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Forgot Password v2</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/recover-password-v2.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Recover Password v2</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="pages/examples/lockscreen.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Lockscreen</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/legacy-user-menu.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Legacy User Menu</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/language-menu.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Language Menu</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/404.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Error 404</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/500.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Error 500</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/pace.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Pace</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/examples/blank.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Blank Page</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="starter.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Starter Page</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon fas fa-search"></i>
      <p>
      Search
      <i class="fas fa-angle-left right"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="pages/search/simple.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Simple Search</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="pages/search/enhanced.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Enhanced</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-header">MISCELLANEOUS</li>
      <li class="nav-item">
      <a href="iframe.html" class="nav-link">
      <i class="nav-icon fas fa-ellipsis-h"></i>
      <p>Tabbed IFrame Plugin</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="https://adminlte.io/docs/3.1/" class="nav-link">
      <i class="nav-icon fas fa-file"></i>
      <p>Documentation</p>
      </a>
      </li>
      <li class="nav-header">MULTI LEVEL EXAMPLE</li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="fas fa-circle nav-icon"></i>
      <p>Level 1</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon fas fa-circle"></i>
      <p>
      Level 1
      <i class="right fas fa-angle-left"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Level 2</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>
      Level 2
      <i class="right fas fa-angle-left"></i>
      </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-dot-circle nav-icon"></i>
      <p>Level 3</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-dot-circle nav-icon"></i>
      <p>Level 3</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-dot-circle nav-icon"></i>
      <p>Level 3</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Level 2</p>
      </a>
      </li>
      </ul>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="fas fa-circle nav-icon"></i>
      <p>Level 1</p>
      </a>
      </li>
      <li class="nav-header">LABELS</li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon far fa-circle text-danger"></i>
      <p class="text">Important</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon far fa-circle text-warning"></i>
      <p>Warning</p>
      </a>
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link">
      <i class="nav-icon far fa-circle text-info"></i>
      <p>Informational</p>
      </a>
      </li>
      </ul>
      </nav>
      
      </div>
     <div class="layout-navbar-fixed ">
      <nav class="main-header navbar navbar-expand" style="background-color: #ffffff;">
         <!-- Left navbar links -->
         <ul class="navbar-nav">
          <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">WAY TO SUCCESS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="redirectToUrl()">LOG OUT</a>
      </li>
         </ul>
       
         <!-- SEARCH FORM -->
         <form class="form-inline ml-3">
           <div class="input-group input-group-sm">
             <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
             <div class="input-group-append">
               <button class="btn btn-navbar" type="submit">
                 <i class="fas fa-search"></i>
               </button>
             </div>
           </div>
         </form>
       
         <!-- Right navbar links -->
       
       </nav>
     </div>      
      </aside>
      <router-outlet></router-outlet>
      
   