<!DOCTYPE html>
<div class="content-wrapper">
<div class="content px-2">
    <div class="container">
        <div class="cards grid-row">
          <div class="card">
            <div class="card-top">
              <img src="assets/HTML1.png" alt="HTML">

            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">HTML stands for HyperText Markup Language. It is a standard markup language for web page creation. It allows the creation and structure of sections, paragraphs, and links using HTML elements (the building blocks of a web page) such as tags and attributes.                                                   </p>
            </div>
            <div class="card-bottom flex-row">
              <a class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/html-tutorial" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build Signature Pad </h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/css-tutorial" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/JS2.png" alt="JavaScript">
            </div>
            <div class="card-info">
              <h2>Introduction To Javascript</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">JavaScript is a scripting or programming language that allows you to implement complex features on web pages — every time a web page does more than just sit there and display static information for you to look at — displaying timely content updates etc.</p>
            </div>
            <div class="card-bottom flex-row">
              <a class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/introduction-to-javascript" class="button btn-yellow">Link</a>
            </div>
          </div>
           <div class="card">
            <div class="card-top">
              <img src="assets/python.png" alt="Python">
            </div>
            <div class="card-info">
              <h2>Python Fundamentals for Beginners</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt"></p>Python is a high-level programming language known for its simplicity, readability, and versatility. It is widely used for a variety of tasks, including web development, data analysis, machine learning, and scientific computing.
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/python-fundamentals-for-beginners" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/java.png" alt="java">
            </div>
            <div class="card-info">
              <h2>Java Programming</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Java is a popular object-oriented programming language that is widely used for developing enterprise applications, mobile apps, and games. It is known for its platform independence and strong memory management features.</p>
            </div>
            <div class="card-bottom flex-row">
              <a class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/java-programming" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/mysql.png" alt="mysql">
            </div>
            <div class="card-info">
              <h2>Advanced SQL</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">MySQL is a popular open-source relational database management system used for storing and managing large amounts of data. It is known for its scalability, reliability, and ease of use.MySQL is widely used in web development and is a popular choice for powering websites and web applications.</p>
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="mygreatlearning.com/academy/learn-for-free/courses/advanced-sql" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/php.png" alt="mysql">
            </div>
            <div class="card-info">
              <h2>Advance of PHP</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">PHP is a popular server-side scripting language used for developing dynamic web applications and websites.PHP is a popular server-side scripting language used for developing dynamic web applications and websites.PHP is used in conjunction with HTML to create dynamic web pages.</p>
            </div>
            <div class="card-bottom flex-row">
              <a  class="read-more">Cerification Link</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/php" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/nodejs.png" alt="nodejs">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Node.js is an open-source, server-side JavaScript runtime environment that allows developers to run JavaScript code outside of a web browser.Node.js is built on the Chrome V8 JavaScript engine, and it provides event-driven, non-blocking I/O capabilities scalable and high-performance web applications.</p>
            </div>
            <div class="card-bottom flex-row">
              <a     class="read-more">Cerification Link</a>
              <a href="#" class="button btn-yellow">Link</a>
            </div>
          </div>
        </div>    
      </div> 
    </div>
    </div>
