<div class="content-wrapper">
<div class="content px-2">
    <div class="container">
        <div class="cards grid-row">
          <div class="card">
            <div class="card-top">
              <img src="assets/HTML1.png" alt="HTML">

            </div>
            <div class="card-info">
              <h2>JavaScript Quote Generator</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">HTML stands for HyperText Markup Language. It is a standard markup language for web page creation. It allows the creation and structure of sections, paragraphs, and links using HTML elements (the building blocks of a web page) such as tags and attributes.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="read-more">Read Full Blog</a>
              <a href="https://www.mygreatlearning.com/academy/learn-for-free/courses/html-tutorial" class="button btn-yellow">Link</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-sky">Blog</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/JS2.png" alt="Blog Name">
            </div>
            <div class="card-info">
              <h2>How to Build Signature Pad</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">JavaScript is a scripting or programming language that allows you to implement complex features on web pages — every time a web page does more than just sit there and display static information for you to look at — displaying timely content updates etc.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-dpink">Blog</a>
            </div>
          </div>
           <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-sky">Blog</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-sky">Blog</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-sky">Blog</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-sky">Blog</a>
            </div>
          </div>
          <div class="card">
            <div class="card-top">
              <img src="assets/CSS1.png" alt="CSS">
            </div>
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Cascading Style Sheets (CSS) is a markup language responsible for how your web pages will look like.This style sheet language also allows you to add effects. You can use it to display some CSS animations like click button effects, spinners or loaders, and animated backgrounds.</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="read-more">Read Full Blog</a>
              <a href="#" class="button btn-sky">Blog</a>
            </div>
          </div>
        </div>    
      </div>
    </div>
    </div>
